<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358664136013-m790kk3h5hej4eqoua9vcvsh7fjvgdp9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358664136013-m790kk3h5hej4eqoua9vcvsh7fjvgdp9</string>
	<key>API_KEY</key>
	<string>AIzaSyCXJGiCWElMCAVx6GkrORZTHtty0F-pJbM</string>
	<key>GCM_SENDER_ID</key>
	<string>358664136013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bonjongames.farmfight</string>
	<key>PROJECT_ID</key>
	<string>farmfight-c7483</string>
	<key>STORAGE_BUCKET</key>
	<string>farmfight-c7483.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358664136013:ios:5589c2daf134d4b7b34304</string>
	<key>DATABASE_URL</key>
	<string>https://farmfight-c7483-default-rtdb.firebaseio.com</string>
</dict>
</plist>